---
layout: default
---

<div class="home">

  <div class="call-out">
    <h1>Blog</h1>
  </div>

  <div class="posts">
    {% for post in site.posts %}
    <div class="post-teaser">

      <header>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>

        <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
      </header>

      <div class="excerpt">
        {{ post.excerpt }}

        <a class="button" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
      </div>

    </div>
    {% endfor %}
  </div>

  {% if site.total_pages > 1 %}
  <div class="pagination">

    {% if site.previous_page %}
    <a href="{{ site.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme.str_prev }}
    </a>
    {% endif %}

    {% if site.next_page %}
    <a href="{{ site.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme.str_next }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
