{{ define "content" }}
<section class="container list">
  <h1>Weekly Digest</h1>
  <p>Stuff I've found interesting while browsing the interwebs.</p>

  <ul>
    {{ range sort $.Site.Data.digest "sortKey" "desc" }}
    <li class="list-item">
      <a class="title" href="/weekly-digest/{{ .year}}-{{ .week }}">
        {{ .year }} Week #{{ .week }}
      </a>
      <br />
      {{ range sort .items "time_added" "desc" }}
      <a href="{{ .resolved_url | default .given_url }}" target="_blank" />
       
         [{{ dateFormat (.Site.Params.dateFormat | default "01-02-2006" ) .time_added }}]

        {{/* see 2016-01) */}}
        {{ .given_title | default .resolved_title | default .resolved_url | default .given_url }}
      </a> <br />
      {{ end }}
    </li>
    {{- end }}
  </ul>
</section>
{{ end }}
