// https://codepen.io/niklass/pen/MXzJBQ
[data-emoji] {
  font-style: normal;
  font-weight: normal !important;
}
[data-emoji]:before {
  content: attr(data-emoji);
  margin-right: 0.125em;
}

// Since we changed date to use a short format
// We end up using less space than necessary
.list ul li .date {
  width: initial;
  text-align: initial;
}
