@import 'variables';

// https://codepen.io/niklass/pen/MXzJBQ
[data-emoji] {
  font-style: normal;
  font-weight: normal !important;
  // try to normalize emoji
  font-family: apple color emoji, segoe ui emoji, noto color emoji,
    android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
    segoe ui symbol !important;
}
[data-emoji]:before {
  content: attr(data-emoji);
  margin-right: 0.125em;
}

// Since we changed date to use a short format
// We end up using less space than necessary
.list ul li .date {
  width: initial;
  text-align: initial;
}

// reimplement without using font-awesome
@media only screen and (max-width: 768px) {
  .navigation .menu-button {
    display: flex;
    height: 6rem;
  }
}

.menu-button .wrap {
  width: 2.5rem;
  height: 2.4rem;

  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.menu-button .stripe {
  display: inline-block;
  height: 0.4rem;
  background-color: $fg-color;
  border-radius: 3px;
}

// a bug with "code's" shortcode
// makes it display an additional empty p tag
code + p {
  display: none;
}



// PAGE TRANSITIONS
#page-transitioner.start {
	position: fixed;
  bottom: 0;
  left: 0;
	border-radius: 100%;
	animation: fade-in 300ms forwards;
	z-index: 9999;
	background-color: black;

}


// Since there's more room to cover
// Let's make it bit slower
@media (orientation: landscape) {
  #page-transitioner.start {
		animation-duration: 500ms;
  }
}

#page-transitioner.start {
  height: 1px;
  width: 1px;
}

@keyframes fade-in {
  100% {
    /* variable is set with javascript */
    transform: scale(var(--pageTransitionDiameter));
  }
}
// /PAGE TRANSITION
